* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #cbcbcb;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.89)), url("./images/nick-iliasov-i0fCUofGjV8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

/* NavBar Section ------------------------------------------------------------------------------------------------------------------ */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  overflow: hidden;
}

.nav-tabs {
  padding: 10px;
  border-radius: 5rem;
  padding: 10px;
  display: flex;
  position: relative;
}

.nav-input[type="radio"] {
  display: none;
}

.nav-label {
  display: block;
  height: 55px;
  width: 200px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  color: white;
}

.nav-glider {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #cbcbcb;
  width: 200px;
  height: 55px;
  border-radius: 2rem;
  transition: ease .3s;
}

#tab1:checked~.nav-label[for="tab1"] {
  color: #223;
}

#tab2:checked~.nav-label[for="tab2"] {
  color: #223;
}

#tab1:checked~.nav-glider {
  transform: translateX(0);
}

#tab2:checked~.nav-glider {
  transform: translateX(200px);
}

/* Project ShowCase Section --------------------------------------------------------------------------------------------------------*/
.projects-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projects-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin: 0 auto;
  overflow: hidden;
}

.project-card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}


.project-card>.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.project-card>.row>.icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.project-card>.row>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

.projects-input {
  display: none;
}

.projects-input:checked+label {
  width: 600px;
}

.projects-input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.project-card[for="c1"] {
  background-image: url('./images/pawel-czerwinski-bX9B9c-YasY-unsplash.jpg');
}

.project-card[for="c2"] {
  background-image: url('./images/pawel-czerwinski-OOFSqPWjCt0-unsplash.jpg');
}

.project-card[for="c3"] {
  background-image: url('./images/tobias-van-schneider-lHGeqh3XhRY-unsplash.jpg');
}

.project-card[for="c4"] {
  background-image: url('./images/vinicius-amnx-amano-OHPdgstNFGs-unsplash.jpg');
}



/* || Mobile Screen Responsiveness _________________________________________________________________________________________________ */
/* _________________________________________________________________________________________________________________________________ */
/* _________________________________________________________________________________________________________________________________ */



@media screen and (max-width: 600px) {

  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  /* Mobile NavBar Section-------------------------------------------------------- */
  .nav-label {
    height: 20px;
    width: 50px;
    font-size: .8rem;
    font-weight: 600;
  }

  .nav-glider {
    width: 50px;
    height: 20px;
  }

  #tab1:checked~.nav-glider {
    transform: translateX(0);
  }

  #tab2:checked~.nav-glider {
    transform: translateX(50px);
  }

  /* Mobile Project Showcase Section--------------------------------------------- */

  .projects-container {
    width: 100%;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
  }

  .project-card {
    width: 100%;
    height: 80px;
    margin: 5px 0;
    align-items: flex-start;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  }

  .project-card>.row {
    display: flex;
    flex-wrap: nowrap;
  }

  .project-card>.row>.icon {
    width: 70px;
  }

  .project-card>.row>.description {
    height: 80px;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .4s;
    transition: all .4s ease;
  }

  .projects-input:checked+label {
    height: 300px;
    width: 100%;
  }

  .projects-input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}